@use 'src/common/styles/colors.module.scss' as *;

.cartContainer {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;

  margin: 1rem 0;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;

  flex: 1 1 54%;
}

.summary {
  position: sticky;
  top: 80px;

  display: flex;
  flex-direction: column;

  flex: 1 1 40%;

  min-width: 200px;
  height: fit-content;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  gap: 2rem;

  width: 100%;

  padding: 0rem 2rem 2rem 0;

  border-bottom: 1px solid $color-6;

  position: relative;
}

.item__info {
  flex: 1 1 58%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 2rem;

  font-size: 0.9rem;

  .item__image {
    flex: 1 1 20%;
    display: flex;

    max-width: 100px;

    img {
      object-fit: contain;
      max-width: 100%;
    }
  }
}

.item__productInfo {
  flex: 1 1 70%;

  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 1rem;

  .item__name {
    font-weight: 500;

    a {
      text-decoration: unset;
    }
  }

  .item__attributes {
    display: flex;
    flex-direction: column;

    p {
      font-size: 0.8em;
      margin: 0.3rem 0;
    }
  }
}

.item_inCartInfo {
  flex: 1 1 20%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 3rem;

  .item__subtotal {
    font-weight: 500;

    p {
      margin: 0.3rem;
    }
  }

  .item__oldPrice {
    font-size: 0.7rem;
    text-decoration: line-through;

    opacity: 0.5;
  }
}

.orderInfo {
  display: flex;
  flex-direction: column;

  width: 100%;

  .orderInfo__line {
    display: flex;
    justify-content: space-between;

    font-weight: 600;
    font-size: 0.9rem;
  }
}

.promocode {
  display: flex;

  margin: 1rem 0;
}

.discountCode__message {
  font-size: 0.8rem;
}

.waiting {
  opacity: 0.5;
  pointer-events: none;
}

.item__delete {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;

  border: 1px solid $color-5;
  border-radius: 50%;

  background-color: #fff;
  color: $color-5;

  font-weight: 100;

  cursor: pointer;

  transition: all 250ms ease;

  svg {
    path {
      transition: all 250ms ease;
    }
  }

  &:hover {
    background-color: $color-3;
    border: 1px solid $color-3;

    svg {
      path {
        fill: #fff;
      }
    }
  }
}
