.button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 56px;
  min-width: 175px;
  width: max-content;

  margin: auto;
  padding: 16px 24px 14px;

  box-sizing: border-box;

  cursor: pointer;

  transition: all 250ms ease;
}

@media screen and (max-width: 720px) {
  .button {
    height: 48px;
  }
}

.button_primary {
  background-color: var(--black);
  color: var(--white);

  border: 0;
}
.button_primary:hover {
  background-color: var(--dark--gray);
}
.button_primary:disabled {
  background-color: var(--light-gray);
  color: var(--gray);
}

.button_secondary {
  background-color: var(--white);
  color: var(--black);

  border: 1px solid var(--black);
}
.button_secondary:hover {
  background-color: var(--black);
  color: var(--white);
}
.button_secondary:disabled {
  background-color: var(--white);
  color: var(--gray);

  border: 1px solid var(--light-gray);
}

.button_tertiary {
  background-color: transparent;
  color: var(--white);

  border: 1px solid var(--white);
}
.button_tertiary:hover {
  background-color: var(--white);
  color: var(--black);
}
.button_tertiary:disabled {
  background-color: transparent;
  color: var(--gray);

  border: 1px solid var(--light-gray);
}
