$black: #121212;
$dark-gray: #424245;
$gray: #808080;
$light-gray: #d2d2d7;
$extra-light: #f5f5f7;
$white: #ffffff;
$black-brightness-90: #121212;
$error: #f55f56;
$success: #32936f;

$color-1: #f5f7ff;
$color-2: #c9d4ff;
$color-3: #0156ff;
$color-4: #01a4ff;
$color-5: #a2a6b0;
$color-6: #cacdd8;
$color-7: #000000;
$color-8: #c94d3f;
$color-9: #78a962;
$color-10: #666666;
