label {
  padding: 12px 0;

  font-weight: 500;
}

input {
  box-sizing: border-box;

  border: 1px solid var(--light-gray);
  color: var(--gray);

  padding: 20px 16px;

  transition: all 250ms ease;

  outline: none;
}

input:hover {
  border: 1px solid var(--gray);
}

input:focus-visible {
  border: 1px solid var(--black);
  color: var(--black);
}

input:disabled {
  background-color: var(--extra--light);
  border: var(--light-gray);
}

input.input_valid {
  border: 1px solid var(--succeess);
  color: var(--succeess);
}
input.input_error {
  border: 1px solid var(--error);
  color: var(--error);
}
input.input_error::placeholder {
  color: var(--error);
}

.input__errorMessage {
  display: block;

  font-weight: 500;

  color: var(--error);

  padding: 3% 2%;

  opacity: 1;
  min-height: 1.2rem;
  max-height: auto;

  overflow: hidden;

  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.input__errorMessage:empty {
  opacity: 0;
}

.input__passwordToggle {
  box-sizing: border-box;

  cursor: pointer;

  background-color: var(--white);

  border: 1px solid var(--gray);

  transition: all 250ms ease;
}

.input__passwordToggle:hover {
  background-color: var(--extra--light);
}
