@use 'src/common/styles/colors.module.scss' as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 175px;
  width: max-content;

  padding: 16px 24px 14px;

  box-sizing: border-box;

  border-radius: 50px;

  cursor: pointer;

  transition: all 250ms ease;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  &.button_primary {
    background-color: $color-3;
    color: $white;
    border: 0;

    &:hover {
      background-color: scale-color($color: $color-3, $saturation: 2%, $lightness: 10%);
    }

    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &.button_secondary {
    background-color: $white;
    color: $color-3;
    border: 1px solid $color-3;

    &:hover {
      background-color: $color-3;
      color: $white;
    }

    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &.button_tertiary {
    background-color: transparent;
    color: inherit;
    border: 1px solid $color-5;

    &:hover {
      background-color: $white;
      border: 1px solid $white;
      color: $black;
    }

    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}
