@use 'src/common/styles/colors.module.scss' as *;

.catalog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input {
    width: 100%;
    padding: 3% 3%;

    border-radius: 3px;
    border: 1px solid $color-6;
  }

  select {
    padding: 3% 3%;

    border-radius: 3px;
    border: 1px solid $color-6;

    transition: all 250ms ease;

    &:hover {
      border: 1px solid $color-5;
    }
  }
}

.catalog__leftBlock {
  flex: 0 0 25%;

  display: flex;
  flex-direction: column;

  top: 10vh;
  height: 100%;

  padding: 2%;
}

.catalog__rightBlock {
  flex: 1 1 50%;
}

.catalog__productsFound {
  width: fit-content;

  margin: 1rem 2rem 1rem auto;
}
