nav {
  width: 100%;
  height: 80px;
}

.navbar__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.navbar__link a {
  display: flex;
  justify-content: center;
  align-items: center;

  color: inherit;
  text-decoration: none;

  transition: all 0.2s ease;
}

.burgerButton {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  overflow: hidden;

  width: 30px;
  height: 30px;

  margin: 20px;

  cursor: pointer;
}

.burgerButton:hover span {
  background-color: var(--gray);
}

.burgerButton span {
  width: 100%;
  height: 3px;

  background-color: var(--black);
  transition: all 0.2s;
}

@media screen and (max-width: 720px) {
  .burgerButton {
    display: flex;
  }

  .navbar__block {
    display: none;
  }
}

.navbar__menu {
  position: fixed;

  top: 0;
  left: -250px;

  width: 250px;
  height: 100vh;

  background-color: var(--white);

  border-right: 1px solid var(--black);

  transition: left 0.3s ease-in-out;
}

.navbar__menu_open {
  left: 0;
}

.navbar__menuLink {
  display: flex;

  padding: 24px 20px;

  border-bottom: 1px solid var(--black);
}

.navbar__menuLink:nth-child(2) {
  border-top: 1px solid var(--black);
}

.navbar__menuLink a {
  text-decoration: none;

  color: inherit;

  cursor: pointer;
}

.navbar__menuLink a:hover {
  color: var(--succeess);
}
