@use 'src/common/styles/colors.module.scss' as *;

.discountInput {
  flex: 1 1 100%;
 
  padding: 3% 1%;

  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid $color-5;

  transition: all 250ms ease;

  &::placeholder {
    color: $color-5;

    transition: all 250ms ease;
  }

  &:focus-visible {
    color: $color-7;
    border-bottom: 2px solid $color-7;

    &::placeholder {
      color: $color-7;
    }
  }

}

.discountLabel {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  width: 100%;
  height: fit-content;
}

.discount {
  display: flex;
  @media screen and (max-width: 505px) {
    flex-direction: column;
    
  }
}

.discountInput:placeholder-shown ~ .discountButton {
  opacity: 0.5;
  pointer-events: none;
}

.discountButton {
  background-color: transparent;

  border: none;
  border-bottom: 2px solid $color-5;

  cursor: pointer;

  transition: all 250ms ease;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  &:hover {
    color: $color-3;
    border-bottom: 2px solid $color-3;
  }
}

.cancelDiscount {
  padding: 7px 20px;
}
