@use 'src/common/styles/colors.module.scss' as *;

.input__passwordInput {
  flex: 1 1 80%;

  padding: 20px 16px;
  outline: none;

  border: none;

  color: inherit;

  &::placeholder {
    color: inherit;
  }
}

.input__passwordToggle {
  box-sizing: border-box;

  flex: 1 1 40px;

  width: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1% 3%;
  outline: none;

  border: none;

  cursor: pointer;

  background-color: $white;

  transition: all 250ms ease;

  svg {
    transition: all 250ms ease;
  }

  &:hover {
    svg {
      fill: scale-color($color: $color-3, $saturation: -70%);
    }
  }

  &:active {
    svg {
      fill: scale-color($color: $color-3, $saturation: 20%);
    }
  }
  &_toggled {
    &:hover {
      svg {
        fill: scale-color($color: $color-3, $saturation: 10%, $lightness: 30%);
      }
    }

    svg {
      fill: $color-3;
    }
  }
}

.input__passwordWrapper {
  box-sizing: border-box;

  display: flex;
  width: 100%;

  border-radius: 4px;
  border: 1px solid $color-10;

  color: $color-10;

  overflow: hidden;

  transition: all 250ms ease;

  &:hover {
    border: 1px solid $gray;
  }

  &.input_valid {
    border: 1px solid $success;
    color: $success;
  }

  &.input_error {
    border: 1px solid $error;
    color: $error;
  }
}

.input__errorMessage {
  display: block;
  font-weight: 500;
  color: $error;
  padding: 3% 2%;
  opacity: 1;
  min-height: 1.2rem;

  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;

  &:empty {
    opacity: 0;
  }
}

.label {
  padding: 12px 0;
  font-weight: 500;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}
