@use 'src/common/styles/colors.module.scss' as *;

.registerForm {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 90%;
  border: 1px solid $black;
  padding: 2% 5% 3%;

  &__formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__block {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      &__subBlock {
        display: flex;
        flex-direction: column;
        flex: 1 1 100px;
        padding: 2% 10%;
      }
    }

    &__submitButton {
      width: 80%;
    }
  }
}
