@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');
@import 'normalize.css';
@import './ui/typography.scss';
@import './ui/inputs.scss';

body {
  font-family: 'Roboto Flex', sans-serif;
}

:root {
  /* Color styles */
  --black: #121212;
  --dark--gray: #424245;
  --gray: #808080;
  --light-gray: #d2d2d7;
  --extra--light: #f5f5f7;
  --white: #ffffff;
  --black--brightness-90: #121212;
  --error: #f55f56;
  --succeess: #32936f;

  /* Text-size styles */
  /* base size: desktop-amp--tablet---h6 (16px) */
  --desktop-amp--tablet---h1: 4.19rem;
  --desktop-amp--tablet---h2: 3.12rem;
  --desktop-amp--tablet---h3: 2.38rem;
  --desktop-amp--tablet---h4: 1.75rem;
  --desktop-amp--tablet---h5: 1.31rem;
  --desktop-amp--tablet---h6: 1rem;
  --desktop-amp--tablet---subtitle: 1.12rem;
  --desktop-amp--tablet---button: 1rem;
  --desktop-amp--tablet---link: 1rem;
  --desktop-amp--tablet---overline: 0.88rem;
  --desktop-amp--tablet---body: 1rem;
  --desktop-amp--tablet---caption: 0.88rem;
  --desktop-amp--tablet---caption-small: 0.75rem;
  --desktop-amp--tablet---caption-bold: 0.88rem;
  --phone---h1: 2.5rem;
  --phone---h2: 2.12rem;
  --phone---h3: 1.62rem;
  --phone---h4: 1.38rem;
  --phone---h5: 1.12rem;
  --phone---h6: 1rem;
  --phone---subtitle: 1.12rem;
  --phone---body: 1rem;
  --phone--button: 0.88rem;
  --phone---link: 0.88rem;
  --phone--overline: 0.75rem;
  --phone---caption: 0.88rem;
  --phone---caption-small: 0.75rem;
  --phone---caption--bold: 0.88rem;

  /* Effect styles */
  --blur: ;
}
